[user]
	name = Juvenal A. Silva Jr.
	email = juvenal.silva.jr@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[core]
	excludesfile = /Users/juvenal/.gitignore
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	ps = push
	pl = pull
	tagcommit = rev-list -n 1
	headcommit = rev-parse HEAD
	glog = log --pretty=format:'%h - %an, %ar: %s' --graph
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = <your.email>@gmail.com
	smtpPass = <your app password>
	smtpServerPort = 587
	confirm = auto