[user]
	name = Juvenal A. Silva Jr.
	email = juvenal.silva.jr@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[core]
	excludesfile = /Users/juvenal/.gitignore
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	ps = push
	pl = pull
	tagcommit = rev-list -n 1
	headcommit = rev-parse HEAD
	glog = log --pretty=format:'%h - %an, %ar: %s' --graph
